<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator BMI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Kalkulator Body Mass Index</h1>
        </div>
        <div class="form-container">
            <form action="/calculate_bmi" method="post">
                <table>
                    <tr>
                        <td><label for="tinggi">Tinggi (cm):</label></td>
                        <td><input type="text" name="tinggi" required></td>
                    </tr>
                    <tr>
                        <td><label for="berat">Berat (kg):</label></td>
                        <td><input type="text" name="berat" required></td>
                    </tr>
                </table>
                <button type="submit">Hitung</button>
            </form>
        </div>
    </div>
</body>

</html>